<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Category</th>
        <th>User</th>
        <th style="width: 100px;">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr id="item" data-item-id="{{ product.id }}">
            <td>{{ product.id }}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.category.title }}</td>
            <td>{{ product.user.email }}</td>
            <td>
                <span class="pull-right">
                    <a href="#" class="mdi-editor-mode-edit" id="edit"></a>
                    <a href="#" class="mdi-action-delete" id="delete"></a>
                </span>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
