<div class="modal-dialog">
    <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
            <h4 class="modal-title">
                {% if product.id %}Edit{% else %}Create{% endif %} product
            </h4>
        </div>
        <!-- Modal Body -->
        <form id="item-form" class="form-horizontal" role="form" action="#" data-toggle="popel-validator">
            <div class="modal-body">
                <input type="hidden" name="id" value="{{ product.id }}">
                <input type="hidden" name="product[user]" value="{% if product.user %}{{ product.user.id }}{% else %}{{ app.user.id }}{% endif %}">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">Title</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'data-rules': 'not-empty'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="title">Category</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.category, {'attr': {'class': 'form-control', 'data-rules': 'not-empty'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="name">Cost</label>
                        <div class="col-sm-7">
                            <div class="input-group">
                                <input type="text" name="product[cost]" class="form-control" data-rules="not-empty" value="{{ product.cost }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label" for="name">Article</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                {{ form_widget(form.article, {'attr': {'class': 'form-control', 'data-rules': 'not-empty'}}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" id="save_item">Save</button>
            </div>
        </form>
    </div>
</div>
