<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Shop{% endblock %}</title>
    <meta name="keywords" content="{% block metakeywords %}Keywords{% endblock %}">
    <meta name="description" content="{% block metadescription %}Description{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link href="{{ asset('bundles/front/css/bootstrap.css') }}" type="text/css" rel="stylesheet" media="all" />
        <link href="{{ asset('bundles/front/css/style.css') }}" type="text/css" rel="stylesheet" media="all" />
        <link href="{{ asset('bundles/front/css/memenu.css') }}" type="text/css" rel="stylesheet" media="all" />
    {% endblock %}
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
{% block body %}
    <!--top-header-->
    <div class="top-header">
        <div class="container">
            <div class="top-header-main">
                <div class="col-md-4 top-header-left">
                    <div class="search-bar">
                        <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </div>
                </div>
                <div class="col-md-4 top-header-middle">
                    <a href="{{ path('front_main_page') }}"><img src="{{ asset('bundles/front/images/logo-4.png') }}" alt="" /></a>
                </div>
                <div class="col-md-4 top-header-right">
                    <div class="cart box_1">
                        <a href="#">
                            <h3>
                                <div class="total">
                                    <span class="simpleCart_total"></span> (<span id="simpleCart_quantity" class="simpleCart_quantity"></span> items)
                                </div>
                                <img src="{{ asset('bundles/front/images/cart-1.png') }}" alt="" />
                            </h3>
                        </a>
                        <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--top-header-->
    <!--bottom-header-->
    <div class="header-bottom">
        <div class="container">
            <div class="top-nav">
                <ul class="memenu skyblue"><li class="active"><a href="{{ path('front_main_page') }}">Home</a></li>
                    <li class="grid"><a href="#">Men</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">login</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="#">Levis</a></li>
                                        <li><a href="#">Persol</a></li>
                                        <li><a href="#">Nike</a></li>
                                        <li><a href="#">Edwin</a></li>
                                        <li><a href="#">New Balance</a></li>
                                        <li><a href="#">Jack & Jones</a></li>
                                        <li><a href="#">Paul Smith</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Women</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">login</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="#">Levis</a></li>
                                        <li><a href="#">Persol</a></li>
                                        <li><a href="#">Nike</a></li>
                                        <li><a href="#">Edwin</a></li>
                                        <li><a href="#">New Balance</a></li>
                                        <li><a href="#">Jack & Jones</a></li>
                                        <li><a href="#">Paul Smith</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Kids</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">login</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="#">Levis</a></li>
                                        <li><a href="#">Persol</a></li>
                                        <li><a href="#">Nike</a></li>
                                        <li><a href="#">Edwin</a></li>
                                        <li><a href="#">New Balance</a></li>
                                        <li><a href="#">Jack & Jones</a></li>
                                        <li><a href="#">Paul Smith</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Sports</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">login</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="#">Levis</a></li>
                                        <li><a href="#">Persol</a></li>
                                        <li><a href="#">Nike</a></li>
                                        <li><a href="#">Edwin</a></li>
                                        <li><a href="#">New Balance</a></li>
                                        <li><a href="#">Jack & Jones</a></li>
                                        <li><a href="#">Paul Smith</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="grid"><a href="#">Brands</a>
                        <div class="mepanel">
                            <div class="row">
                                <div class="col1 me-one">
                                    <h4>Shop</h4>
                                    <ul>
                                        <li><a href="#">New Arrivals</a></li>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">login</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">My Shopping Bag</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Style Zone</h4>
                                    <ul>
                                        <li><a href="#">Men</a></li>
                                        <li><a href="#">Women</a></li>
                                        <li><a href="#">Brands</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                        <li><a href="#">Style Videos</a></li>
                                    </ul>
                                </div>
                                <div class="col1 me-one">
                                    <h4>Popular Brands</h4>
                                    <ul>
                                        <li><a href="#">Levis</a></li>
                                        <li><a href="#">Persol</a></li>
                                        <li><a href="#">Nike</a></li>
                                        <li><a href="#">Edwin</a></li>
                                        <li><a href="#">New Balance</a></li>
                                        <li><a href="#">Jack & Jones</a></li>
                                        <li><a href="#">Paul Smith</a></li>
                                        <li><a href="#">Ray-Ban</a></li>
                                        <li><a href="#">Wood Wood</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!--bottom-header-->
    {% block content %}{% endblock %}
    <!--start-footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top">
                <div class="col-md-3 footer-left">
                    <h3>ABOUT US</h3>
                    <ul>
                        <li><a href="#">Who We Are</a></li>
                        <li><a href="{{ path('front_page_contact') }}">Contact Us</a></li>
                        <li><a href="#">Our Sites</a></li>
                        <li><a href="#">In The News</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Carrers</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>YOUR ACCOUNT</h3>
                    <ul>
                        <li><a href="#">Your Account</a></li>
                        <li><a href="#">Personal Information</a></li>
                        <li><a href="#">Discount</a></li>
                        <li><a href="#">Track your order</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>CUSTOMER SERVICES</h3>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Shipping</a></li>
                        <li><a href="#">Cancellation</a></li>
                        <li><a href="#">Returns</a></li>
                        <li><a href="#">Bulk Orders</a></li>
                        <li><a href="#">Buying Guides</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-left">
                    <h3>CATEGORIES</h3>
                    <ul>
                        <li><a href="#">Sports Shoes</a></li>
                        <li><a href="#">Casual Shoes</a></li>
                        <li><a href="#">Formal Shoes</a></li>
                        <li><a href="#">Party Shoes</a></li>
                        <li><a href="#">Ethnic</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--end-footer-->
    <!--end-footer-text-->
    <div class="footer-text">
        <div class="container">
            <div class="footer-main">
                <p class="footer-class">Shop</p>
            </div>
        </div>
        <a href="#home" id="toTop" class="scroll" style="display: block;">
            <span id="toTopHover" style="opacity: 1;"> </span>
        </a>
    </div>
    <!--end-footer-text-->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/front/js/jquery-1.11.0.min.js') }}"></script>
    <script src="{{ asset('bundles/front/js/move-top.js') }}"></script>
    <script src="{{ asset('bundles/front/js/easing.js') }}"></script>
    <script src="{{ asset('bundles/front/js/simpleCart.min.js') }}"></script>
    <script src="{{ asset('bundles/front/js/memenu.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".scroll").click(function(event){
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
            });
            $(".memenu").memenu();
            $().UItoTop({ easingType: 'easeOutQuart'});
        });
    </script>
{% endblock %}
</body>
</html>